<!doctype html>
<html>
    <head>
      {% block head %}
      {% endblock %}
    </head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">All Posts</a>
      <a href="/newpost">Create New Post</a>
      <a href="/login">Login</a>
      <p>
        {{username}}
        <a href="/logout">Logout</a>
      </p>
    </nav>
  </header>
    {% with messages = get_flashed_messages() %}
    <ul>
      {% for message in messages %}
        <li class=error>{{message}}</li>
      {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>
